.menu .receitas {
  max-height: 0;
  transition: max-height 0.15s;
  overflow: hidden;
  background: #B22222;
}

.menu:hover .receitas {
  max-height: 500px;
  transition: max-height 2s; 
}

.titulo{
  color: #BDB76B;
}