body{
  font-family: arial, sans-serif;
  background: #8FBC8F;
  margin: 0;
}
p{
  padding: 20px;
  text-align: justify;
}

.container{
  height: 60px;
  border-bottom: 1px solid #ffffff;
}

.container-info{
  text-align: center;
  color: white;
  margin-top: 30px;
}

.container-info h1{
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: 3px 3px 2px #333;
}

.container nav ul{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin: 20px 50px 0 0;
}

.container nav li{
  list-style: none;
  border: 1px solid white;
}
.container nav a{
  background: rgba(0,0,0, 0.3);
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.container nav a:hover{
  background: #8FBC8F;
}

