body{
 margin: 0; /* removing the default body margin */
 text-align: center;
 box-sizing: border-box
}

.container{
  align-items: center; /* alinha na horizontal */
  justify-content: center; /* alinha na vertical */ 
  width: 100%;
  height: 100%; 
  display: flex; /* ele passa a deixar as divs uma do lado da outra pq é o comportamento do flexbox, 
torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens.*/
}

.container > div{
  font-size: 16px; 
}

.pop{
  margin-right: 10px;
  background-color: aqua;
}

.rock{
  margin-right: 10px;
  background-color: gold;
}

.sertanejo{
  background-color: brown;
}