header {
 padding: 20px 0;
 background-color: #9932CC;
 color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
}
body{
 background-color:#222222;
 font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
}
main {
 width: 940px;
 margin: 0 auto;
}

form {
 margin: 40px 0;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 color: #ffffff;
 gap: 20px;
}

.input-padrao {
 display: block;
 margin: 0 0 20px;
 padding: 10px 25px;
 width: 60%;
 border: 0;
 border-bottom: 2px solid gray;
 outline: 0;
 font-size: 1.3rem;
 color: white;
 padding: 7px 0;
 background: transparent;
}

.button{
 background: #9932CC;
 border-radius: 999px;
 color: #FFFFFF;
 cursor: pointer;
 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 padding: 8px 18px;
 border: 0;
}
.footer{
 position: fixed;
 left: 0;
 right: 0;
 bottom: 0;
}
.footer-menu{
 color: #ffffff;
 display: flex;
 background: #9932CC;
 align-items:center;
 flex-direction: row;
 gap: 20px;
 padding:20px;
}

.footer-menu p{
 font-size: 14px;
 color: white;
 text-align: center;
}
h1{
 text-align: center;
 }
